In [1]:
# importation de pandas

from pandas import read_csv

#insertion du fichier csv train dans un dataframe

# df_predictions = read_csv( './csv/my_predictions.csv' )
df_predictions = read_csv( './csv/prediction.csv' )

In [2]:
df_predictions

        Id    SalePrice
0     1461  111309.7700
1     1462  150285.8400
2     1463  179832.1000
3     1464  188905.5500
4     1465  201899.2000
5     1466  162810.2200
6     1467  168769.3100
7     1468  154876.6100
8     1469  196309.7500
9     1470  112227.7500
10    1471  156676.2700
11    1472  100082.9200
12    1473   94828.0600
13    1474  141831.6000
14    1475   92256.5200
15    1476  371351.6200
16    1477  251094.2800
17    1478  308685.8000
18    1479  309299.5600
19    1480  474843.5300
20    1481  311919.5300
21    1482  205956.0600
22    1483  167718.4700
23    1484  159763.7300
24    1485  180329.8600
25    1486  189191.3800
26    1487  342532.5600
27    1488  222577.1700
28    1489  193542.0000
29    1490  248855.7300
...    ...          ...
1429  2890   72161.4700
1430  2891  143277.1600
1431  2892      23.9375
1432  2893   54615.8500
1433  2894   10775.9530
1434  2895  348366.8800
1435  2896  287934.5000
1436  2897  216734.2500
1437  2898  123814.9100
1438  2899  207318.8100
1439  2900  158416.9700
1440  2901  215578.2500
1441  2902  174230.2500
1442  2903  307460.4000
1443  2904  354389.0300
1444  2905   57395.3900
1445  2906  189905.8100
1446  2907  105077.1100
1447  2908  109340.3200
1448  2909  126422.5300
1449  2910   67212.2500
1450  2911   67975.9300
1451  2912  147513.8300
1452  2913   66589.0500
1453  2914   61805.3900
1454  2915   74626.3360
1455  2916   73965.8300
1456  2917  168353.0200
1457  2918  109064.3100
1458  2919  217460.7800

[1459 rows x 2 columns]

In [3]:
df_predictions.to_csv("./csv/kaggle_prediction.csv", index=False)

In [4]:
import kaggle

In [5]:
submission_file = "./csv/kaggle_prediction.csv"
kaggle.api.competition_submit(submission_file, "BigML ensemble", "house-prices-advanced-regression-techniques")

100%|██████████| 21.2k/21.2k [00:03<00:00, 5.93kB/s]

Successfully submitted to House Prices: Advanced Regression Techniques